@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  height: 150vh; /* Dovoljno prostora za testiranje skrolovanja */
  width: 100%;
  background: #f4f4f4;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


nav.solid {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  max-width: 5vw; /* Maksimalna širina za veće ekrane */
  max-height: 80px; /* Ograničavamo visinu loga na navigacioni bar */
  position: absolute;
  top: 50%; /* Centriranje po vertikali */
  left: 1vh;
  transform: translateY(-50%); /* Centriranje po vertikali pomoću transform */
}
.logo img {
  width: 100%;
  height: auto;
}
.rez-btng {
  background-color: #942222;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.rez-btngs {
  background-color: #942222;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.rez-btn:hover {
  background-color: #333;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav.solid ul li a {
  color: black;
}
.zastava {
  position: relative;
  top: 8px;
  width: 30px;
}
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav.solid ul li a.active,
nav.solid ul li a:hover {
  background: #9e4c4c;
  transition: .5s;
}

nav ul li a.active,
nav ul li a:hover {
  background: #883030;
  transition: .5s;
}

.contact-section {
  text-align: center;
  padding: 50px 20px;
  color: #060D0D;
  padding-top: 20vh;
  
}

.services-divider {
  width: 100px;
  height: 3px;
  background-color: #883030;
  margin: 20px auto;
}

.footer{
  background:#883030;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:#A8C4D6;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#A8C4D6;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color: #fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }

  .ftrlink.active,
  .ftrlink:hover {
    transition: .5s;
    color: #fff;
  }

  h1{
    text-align: center;
    padding-top: 100px;
  }
  .foto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  video{
    width: 50vw;
    text-align: center;
  }
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Stilovi za ekrane šire od 1500px */
@media (max-width: 1500px) {
  section {
    height: 100vh; /* Dovoljno prostora za testiranje skrolovanja */
    background: #f4f4f4;
  }
  .divbgslika {
    background-image: url('pocetnasl.jpg');
    background-size: contain;
    height: 167vh;
  }
  .logo {
    max-width: 120px;
    max-height: 120px;
    top: 50%;
    left: 2vh;
  }
  .custom-grid .left-image {
    width: 100%; /* Širina slike */
    height: 70%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dve kolone */
    grid-template-rows: auto auto 140vh; /* Tri reda */
    gap: 20px; /* Razmak između elemenata */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto 40px auto; /* Centriranje grida i dodatni razmak od donjeg dela stranice */
    background-color: #fff;
    padding-bottom: 900px;
    padding-top: 50px;
    margin-top: 200px;
  }
}

/* Stilovi za ekrane šire od 1200px */
@media (max-width: 1200px) {
  .logo {
    max-width: 80px;
    max-height: 80px;
    top: 50%;
    left: 1vh;
  }
  nav {
    height: 70px;
  }
  .divbgslika {
    background-size: cover;
  }
  .sadrzajpocetna {
    width: 80%;
  }
}

/* Stilovi za ekrane šire od 1050px */
@media (max-width: 1050px) {
  .logo {
    max-width: 70px;
    max-height: 70px;
    top: 50%;
    left: 1vh;
  }
}

/* Stilovi za ekrane šire od 900px */
@media (max-width: 900px) {
  nav {
    height: 60px;
    background-color: #fff;
  }
  .logo {
    max-width: 60px;
    max-height: 60px;
    top: 50%;
    left: 1vh;
  }
  .checkbtn {
    display: block;
    font-size: 26px;
    line-height: 60px;
    color: #942222;
  }
  video{
    width: 80vw;
    text-align: center;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease-in-out; /* Dodata bolja tranzicija */
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    display: block;
    margin: 4px 0;
  }
  .zastava {
    position: relative;
    top: 8px;
    width: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: black;
    transition: color 0.3s ease; /* Dodata tranzicija za hover efekat */
  }
  nav ul li a:hover {
    color: #133B5C; /* Hover efekat za bolju čitljivost */
  }
  #check:checked ~ ul {
    left: 0;
  }
  .divbgslika {
    height: 100vh;
    background-size: cover;
    padding-right: 2vw;
    justify-content: center;
    text-align: center;
  }
  .sadrzajpocetna {
    width: 90%;
  }
  .glavnohomeh1 {
    font-size: 36px;
  }
  .glavnohomep {
    font-size: 16px;
  }
  .custom-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .custom-grid .left-text,
  .custom-grid .right-text {
    text-align: justify;
    font-size: 14px;
  }
  .custom-grid .image-container,
  .custom-grid .right-image {
    width: 100%;
    height: auto;
  }
  .right-image{
    display: none;
  }
  .custom-grid .explore-button {
    position: static;
    margin: 10px auto;
  }
  .why-choose-us-container {
    flex-direction: column;
    gap: 10px;
  }
  .why-image {
    width: 100%;
  }
  .why-text {
    width: 100%;
    text-align: center;
  }
  iframe {
    width: 95%;
    height: 50vh;
  }
  .footer {
    text-align: center;
    padding: 20px 10px;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0;
  }
  .footer .row a i {
    font-size: 1.5em;
  }
  .ftrul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ftrul a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}
}


/* Stilovi za ekrane šire od 700px */
@media (max-width: 700px) {
  .logo {
    max-width: 60px;
    max-height: 60px;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%);
  }
}

/* Stilovi za ekrane šire od 500px */
@media (max-width: 500px) {
  .logo {
    max-width: 50px;
    max-height: 50px;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%);
  }
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
}
}

/* Stilovi za ekrane šire od 376px */
/* Popravljanje za mobilne uređaje */
@media (max-width: 375px) {

}


/* Stilovi za ekrane šire od 345px */
@media (max-width: 345px) {
  .logo {
    max-width: 35px;
    max-height: 35px;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%);
  }
}
